.l-constrained {
  margin: auto;
  padding: 1.5rem 16rem;
  }

.l-section {
  border-bottom: 3px solid $aqua;
  display: block;
  margin-top: 1rem;
  padding-bottom: 2rem;

}

.l-split {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;

  img {
    display: block;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
  }
  li {
    margin: 0 0em 3em 0;
    max-width: 33%;
  }
}

.section {
  padding-top: 2.5rem;
}

.wrap {
  flex-wrap: wrap;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}