.banner {
  background-image: url('../images/csf-asset-banner-home.jpeg');
  background-size: 100% 100%;
  color: $offwhite;
  height: 500px;
  width: 100%;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5rem;
    padding-top: 5rem;

  }

  &__head {
    color: $offwhite;
    flex: 1 0 100%;
    font: 300 1.5rem $open-sans;
    text-align: center;
  }

  &__date {
    color: $offwhite;
    flex: 1 0 100%;
    font-size: 1.5rem;
    padding-top: 6rem;
    text-align: center;
  }
}
