.banner {
  background-image: url('../images/csf-asset-banner-home.jpeg');
  background-size: 100% 100%;
  color: $offwhite;
  height: 500px;
  margin-top: 3rem;
  width: 100%;

  img {
    display: block;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto

  }
  &__date {
    flex: 1 0 100%;
    font-size: 1.5rem;
    color: $offwhite;
    padding-top: 4rem;
    text-align: center;
  }
}
