a.about.section#about
  h1 About
  section.main
    img(src='images/logo-chinasf.png', height='230', width='520')
    p
      | ChinaSF is a partnership between the City of San Francisco Mayor's Office and
      | the San Francisco Center for Economic Development. ChinaSF's goal is to support
      | increased business exchange between China and the San Francisco Bay Area. ChinaSF
      | provides invaluable services to Chinese companies seeking to establish offices in
      | North America. In addition, ChinaSF can help Bay Area companies looking to expand
      | overseas. With offices in Shanghai, Beijing and San Francisco, ChinaSF's bilingual
      | staff can provide cross-border support in expansion and investment to Chinese and
      | Bay Area companies with potential partners.