a.about.section#about
  .banner
    .page-title ABOUT
  section.main
    img(src='images/asset-country.png', height='170', width='590', alt="usa & china")
    p
      | As an energetic international business and cultural center, San Francisco
      | is the ideal gateway for bilateral trade between China and North America.
      | Whether Chinese enterprises expand and develop businesses in North America
      | or enterprises in the San Francisco Bay Area look for business opportunities
      | in China, the economies and cultures of both geographic locations tie to
      | create a unique platform for new partnerships and business opportunities.
      | San Francisco has advanced innovative industries, close geographic and
      | cultural ties to China, and world-class talent, which provide Chinese entrepreneurs
      | with unparalleled resources. San Francisco is the hub to enter into America. Over
      | 75 countries have consulates and business representative offices set up in San
      | Francisco, which strengthen San Francisco as a leader of global economic development.
    img(src='images/logo-chinasf.png', height='230', width='520')
    p
      | ChinaSF is a partnership between the City of San Francisco Mayor's Office and
      | the San Francisco Center for Economic Development. ChinaSF's goal is to support
      | increased business exchange between China and the San Francisco Bay Area. ChinaSF
      | provides invaluable services to Chinese companies seeking to establish offices in
      | North America. In addition, ChinaSF can help Bay Area companies looking to expand
      | overseas. With offices in Shanghai, Beijing and San Francisco, ChinaSF's bilingual
      | staff can provide cross-border support in expansion and investment to Chinese and
      | Bay Area companies with potential partners.