.section#about
  h1 About
  .l-constrained.l-section
    p
      | ContinuumSF 2015 Tech and Trade Expo connects professionals and 
      | policymakers on both side of the Pacific Ocean. See hundreds of exhibitors
      | from the most dynamic sectors in the U.S. and China; information 
      | technology, clean technology and real estate. Startups to
      | multinational corporations network to expand their reach at ContinuumSF. 
      | Industry leaders from the US and China speak and share their experiences.
    img.large-icon(src='images/logo-chinasf.png', height='230', width='520')
    p
      | ChinaSF is a bridge between San Francisco and China. Since 2008, ChinaSF brought over 50 companies
      | and created more than 350 jobs in the San Francisco Bay Area by supporting Chinese
      | companies and investors. Through its offices in Beijing, Shanghai and San Francisco, ChinaSF
      | guides Bay Area companies looking to expand into the Greater China region.
      | ChinaSF is a joint venture between the Office of the Mayor and the San Francisco
      | Center for Economic Development.