header
  .logo
    a(href="#home" data-menuanchor='home')
      img(src="images/logo-nav-bar-continuumsf.png" width="100" height="75")
  nav
    a(href='#about1' data-menuanchor='about1') About2
    each name, url in {'#about1':'ABOUT', '#location':'LOCATION', '#schedule':'SCHEDULE', '#visa':'VISA', '#partner':'PARTNER'}
      a(href="#{url}") #{name}

    a.register(href='#') REGISTER
