a.home(name="home")
	.banner
		.logo
			img(src="images/logo-continuumsf.png" width="388" height="300")
	section.main
		img(src='images/chinasf---icon-0.png', height='177', width='160', alt='')
		h1 Promoting Trade, Tech and Cultural Exchange
		p
			| To promote trade, technology and cultural exchange between San Francisco and China, the City and County of San Francisco, and San Francisco business and education industries support ChinaSF in hosting the first San Francisco Technology and Trade Expo on November 12-13, 2015. The Expo will provide opportunities for enterprises to successfully enter the Chinese market as well as the US market and learn about the latest technology developments and market prospects. During the Expo, exhibitors and thousands of Expo attendees will partipate in face-to-face communication and exchange, as well as witness the latest innovative products.
	section.discover
		h1 Discover and Develop
		p
			| The Expo will divide into 3 categories, with over 100 booths and tables for Chinese and American exhibitors.
		ul
			li
				img(src='images/chinasf---icon-1.png', height='150', width='150', alt='')
				p
					| High Tech sectors including mobile devices, wearable devices, e-commerce, bio-tech, pharmaceutical, green tech, games, robotic devices, etc.
			li
				img(src='images/chinasf---icon-2.png', height='150', width='150', alt='')
				p
					| Professional services sectors including real estate, legal, tax, education, medical, travel, insurance, etc.
			li
				img(src='images/chinasf---icon-3.png', height='150', width='150', alt='')
				p Trade: smart home, living tech, agriculture, health product, fashion
