a.location.section#location
  .banner
    .page-title LOCATION
  section.main
    div
      p
        | The Port of San Francisco Cruise Ship Terminal at Pier 27 is the Bay Area's newest large venue
        | for corporate and special events. Conveniently located on the Embarcadero waterfront, Pier 27
        | boasts panoramic views of the entire San Francisco Bay, Treasure Island, the San Francisco-Oakland Bay
        | Bridge, Financial District and Coit Tower. The state-of-the-art terminal has over 40,000 square feet 
        | of climate controlled event space on two levels, making it the ideal venue.

      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12609.703927352788!2d-122.40805318576662!3d37.80349007408186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580f62abd65a5%3A0xcdd8de76108b3b78!2sPier+27!5e0!3m2!1sen!2sus!4v1435679589759" width="460" height="240" frameborder="0" style="border:0" allowfullscreen)
    div
      img(src="images/upper_9.jpg", alt="" )
      img(src="images/low_2.jpg", alt="" )
    div
      img(src="images/low_3.jpg", alt="" )
      img(src="images/low_4.jpg", alt="" )
    div
      img(src="images/low_5.jpg", alt="" )
      img(src="images/low_4.jpg", alt="" )
