a.schedule.section#schedule
  .banner
    .page-title SCHEDULE
  section.main
    h1 Day 1
    table
      tr
        td.time 9:30a - 10:15a
        td.data
          .event Registration &amp; Breakfast
          .area Registration &amp; Dining Area
      tr
        td.time 10:15a - 10:25a
        td.data
          .event Ribbon Cutting Ceremony
          .area Registration &amp; Dining Area
          .speaker Mayor Ed Lee
      tr
        td.time 10:30a - 10:40a
        td.data
          .event Mayor's Introduction: Welcome to San Francisco
          .area Forum
          .speaker Mayor Ed Lee
      tr
        td.time 10:40a - 11:00a
        td.data
          .event Morning Keynote
          .area Forum
          .speaker Jack Ma, CEO, Alibaba

    h1 Day 2
    table
      tr
        td.time 9:30a - 10:15a
        td.data
          .event Registration &amp; Breakfast
          .area Registration &amp; Dining Area
      tr
        td.time 10:15am - 10:25a
        td.data
          .event Ribbon Cutting Ceremony
          .area Registration &amp; Dining Area
          .speaker Mayor Ed Lee

      tr
        td.time 10:15am - 10:25a
        td.data
          .event Mayor's Introduction: Welcome to San Francisco
          .area Forum
          .speaker Mayor Ed Lee

      tr
        td.time 10:15am - 10:25a
        td.data
          .event Morning Keynote
          .area Forum
          .speaker James Earl Jones, Darth Vader