section#sponsors
    h1 Sponsors
  .l-section.l-constrained
    img(src='images/csf-asset-sponsors.png' height="105" width="120")
    p
      | If you are interested in becoming a sponsor, please contact ChinaSF
      | via email at chinasf@sfced.org, or via phone at 1 (415) 352 8873.