.section#tickets
    h1=tickets.h1
  .l-section.l-constrained
    img.large-icon(src='#{images}images/csf-icon-tickets.png' height="100.5" width="100.5")
    div(style="width:100%; text-align:left;")
      iframe(src="//eventbrite.com/tickets-external?eid=18127450693&ref=etckt" frameborder="0" height="300" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true")
//  div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"
//    a (class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt") Powered by Eventbrite