@import 'vendor/normalize';
@import 'base/project/base';
@import 'layout/layout';
@import 'components/banner';
@import 'components/media';

.language {
  background-color: $lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    margin: 1rem 0;
    text-decoration: none;
  }
}

header {
  align-items: center;
  background-color: $offwhite;
  box-shadow: 0 1px 2px 0 rgba(200, 200, 200, .4);
  display: flex;
  justify-content: space-between;
  width: 100%;

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 10em;
    width: 100%;

      li.logo {
      flex: 0 1 80%;
      }

      a {
        color: $grey;
        font-size: .8em;
        padding: 5px 20px;
        text-decoration: none;
        white-space: nowrap;
      }

      a:hover {
      color: #cccdce;
      }
    }

  a.register {
    background-color: rgb(200, 159, 32);
    color: $offwhite;
    border-radius: 3px;
    margin-left: 2em;
  }

  li.active > a {
    color: #0e44af;
  }
}

footer {
  @extend %column;
  background: linear-gradient(90deg, rgb(13, 54, 164), rgb(25, 200, 248));
  padding: 1rem 0;

  p {
    color: $lightgrey;
    font-family: $pt-serif;
  }

  .logo {
    border: 4px solid $lightgrey;
    color: $lightgrey;
    display: block;
    font-size: 1.5em;
    margin: auto;
    padding: 0 1px 0 3px;
    width: 5.8rem;


  }
}

footer > .logo.chbox {
  width: 12rem;
}
#home.section {
  padding-top: 0;
}
#schedule {
  .l-section {
    display: block;
    padding: 1.5rem 0;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 5px;
    margin: auto;
  }

  tr {
    margin-bottom: 5px;
  }

  td {
    padding: .5rem 1rem;
  }

  .data {
    background-color: rgb(241, 241, 241);
  }

  .time {
    color: rgb(81, 94, 101);
    font-weight: 700;
    vertical-align: top;
  }

  .event {
    color: rgb(4, 0, 151);
  }

  .area {
    color: rgb(75, 87, 94);
    font-style: italic;
    font-weight: 400;
  }

  .speaker {
    color: rgb(49, 64, 73);
  }
}

#home ul {
  padding-left: 0;
}