@import 'vendor/normalize';
@import 'base/project/base';
@import 'layout/layout';
@import 'components/banner';

header {
  align-items: center;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(200, 200, 200, .4);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 10em;
    width: 100%;

      li.logo {
      flex: 0 1 80%;
      }

      a {
        color: $grey;
        font-size: .8em;
        padding: 5px 20px;
        text-decoration: none;
      }

      a:hover {
      color: #cccdce;
      }
    }

  a.register {
    background-color: rgb(200, 159, 32);
    color: $white;
    border-radius: 3px;
    margin-left: 2em;
  }

  li.active > a {
    color: #0e44af;
  }
}

.large-icon {
  display: block;
  margin: auto;
}

.discover {
  background-color: rgb(230, 235, 235);
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4em;

  h1 {
    text-align: center;
    width: 100%;
  }

  p {
    margin: auto;
    padding-bottom: 2em;
  }

  ul {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;

    img {
      display: block;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
    }

    li {
      list-style: none;
      margin: 0 4em 3em 0;
      max-width: 250px;
      text-decoration: none;
    }
  }
}

.category {
  margin: 1em 3em;
  max-width: 200px;
}

section.register {
  align-items: center;
  background: linear-gradient(90deg, rgb(13, 54, 164), rgb(25, 200, 248));
  color: $white;
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  min-height: 10em;

  h2 {
    padding-right: 2em;
  }

  .button {
    border: 2px solid $white;
    border-radius: 3px;
    font-size: 1.2em;
    padding: .25em 1.5em;
  }
}

footer {
  @extend %column;
  align-items: center;
  padding-top: 2em;

  p {
    font-family: $pt-serif;
  }

  .logo {
    border: 4px solid $lightgrey;
    color: $lightgrey;
    font-size: 1.5em;
    margin: .75em 0;
    padding: 0 1px 0 3px;
  }
}

.location {
  @extend %flex;

  section.main {
    @extend %flex;
    margin: auto;
    width: 80%;

    >div {
      display: flex;
      flex-flow: row;
      margin-bottom: 1rem;

      p {
        margin-right: 2rem;
        width: 50%;
      }

      img {
        height: 50%;
        width: 50%;
      }

      img:first-child {
        margin-right: 2rem;
      }

      iframe {
        width: 50%;
      }
    }
  }
}

.about {
  @extend %flex;

  .main {
    @extend %flex;

    margin-bottom: 4em;

    h1 {
      flex: 0 1 100%;
    }

    p {
      padding: 0 12em;
    }

    img {
      margin: 3em 0;
    }
  }
}

.schedule {
  @extend %flex;

  .main {
    @extend %flex;
    background-color: rgb(226, 232, 235);
    padding: 2rem 0;
    width: 100%;
  }

  h1 {
    flex: 0 1 100%;
    text-align: center;
  }

  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }

  tr {
    margin-bottom: 5px;
  }

  td {
    padding: .5rem 1rem;
  }

  .data {
    background-color: rgb(241, 241, 241);
  }

  .time {
    color: rgb(81, 94, 101);
    font-weight: 700;
    vertical-align: top;
  }

  .event {
    color: rgb(4, 0, 151);
  }

  .area {
    color: rgb(75, 87, 94);
    font-style: italic;
    font-weight: 400;
  }

  .speaker {
    color: rgb(49, 64, 73);
  }
}
