doctype html
html(lang='en')
  head
    title ContinuumSF 2015 Tech &amp; Trade Expo
    link(rel='stylesheet' href='./css/style.css')
    script(src="./js/main.js")
  body
    include ./includes/header.jade
    include ./includes/home.jade
    include ./includes/schedule.jade
    include ./includes/sponsor.jade
    include ./includes/location.jade
    include ./includes/about.jade
    include ./includes/tickets.jade
    include ./includes/footer.jade