doctype html
html(lang='en')
  head
    title !{head.title}
    | !{head.style}
    | !{head.js}
  body
    include ./includes/header.jade
    include ./includes/home.jade
    include ./includes/tickets.jade
    include ./includes/schedule.jade
    include ./includes/speakers.jade
    include ./includes/partner.jade
    include ./includes/sponsor.jade
    include ./includes/location.jade
    include ./includes/about.jade
    include ./includes/footer.jade