

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

$black: #000;
$blue: rgb(36, 101, 156);
$deepblue: hsl(242, 100, 29.6);
$rollblue: hsla(242, 100, 29.6, .3);
$gold: hsla(50, 81%, 50%, 1);
$grey: rgb(129, 129, 129);
$lightblue: rgb(239, 245, 247);
$lightgrey: rgb(180, 180, 180);
$offwhite: rgb(241, 241, 241);
$aqua: hsla(185, 30%, 80%, 1);
$pt-sans: 'PT Sans', sans-serif;
$pt-serif: 'PT Serif', serif;
$white: #fff;

@mixin column {
  display: flex;
  flex-direction: column;
}

%flex {
  display: flex;
  justify-content: center;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

section {
  display: flex;
  justify-content: center;
}

.main {
  padding-top: 4rem;
}

body {
  background-color: $lightblue;
  font-family: $pt-sans;
}

h1 {
  display: block;
  font-family: $pt-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

h2 {
  font-weight: 400;
}

p {
  color: hsl(0, 0, 50);
  line-height: 1.75rem;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
}

.large-icon {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

.ch {
  font-family: Georgia, "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
}
