

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);

$grey: rgb(129, 129, 129);
$lightgrey: rgb(180, 180, 180);
$blue: rgb(36, 101, 156);
$PT-Sans: 'PT Sans', sans-serif;
$PT-Serif: 'PT Serif', serif;

%column {
  display: flex;
  flex-direction: column;
}
%flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  display: flex;
  justify-items: center;
}
  .main {
    padding-top: 4rem;
  }
body {
  font-family: $PT-Sans;
  background-color: rgb(241,241,241);
}

h1 {
  font-family: $PT-Serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

p {
  color: hsl(0, 0, 50);
  line-height: 1.75rem;
  margin-bottom: 20px;
}

.logo {
  font-weight: 700;
  letter-spacing: 0.1em;
}

.banner {
  background-size: 100% 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-title {
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: white;
}

.banner:nth-child(n+1) {
  margin-top: 7.2em;
}
